.featured-tile {
  min-width: 350px;
  max-width: 350px;
  max-height: 150px;
  min-height: 150px;
  margin: 10px;
  display: flex;
  padding: 10px;
  border-radius: 20px;
}

.featured-tile .title {
  font-size: 35px;
  color: white;
}

.featured-tile .emoji {
  font-size: 100px;
}

.blue {
  background-color: var(--blue);
}

.cyan {
  background-color: var(--cyan);
}

.green {
  background-color: var(--green);

}

.indigo{
  background-color: var(--indigo);

}
  
.mint{
  background-color: var(--mint);

}
  
.orange {
  background-color: var(--orange);

}
.pink {
  background-color: var(--pink);

}

.purple {
  background-color: var(--purple);

}

.red {
  background-color: var(--red);

}

.teal {
  background-color: var(--teal);

}

.yellow {
  background-color: var(--yellow);
}