.quiz-tile {
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  color: black;
  max-width: 200px;
  width: 200px;
  min-width: 200px;
}

.quiz-tile-emoji {
  text-align: center;
  color: var(--primary-color);
  padding: 5px;
  font-size: 150px;
  background-color: var(--secondary-background);
  border-radius: 15px;
  max-width: 200px;

}

.quiz-tile-title {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 25px;
}

.quiz-tile-username {
  color: var(--secondary-color);
  font-size: 20px;
}