.draft-row {
  display: flex;
  align-content: space-between;
}

.draft-row .right {
  color: var(--primary-color);
  padding: 10px;
}

.draft-row .left {
  color: var(--secondary-color);
  padding: 10px;
}

.draft-row .emoji {
  padding: 10px;
  font-size: 20px;

}

.draft-row .title {
  padding: 10px;
}