.saved .tile {
  font-size: 30px;
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--secondary-background);
  padding: 35px 0 35px 0;
  border-radius: 15px;
  text-decoration: none;
  margin: 7px;
}

.saved .grid {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat( auto-fit, minmax(210px, 1fr) );
}