.search-list-item {
  font-size: 20px;
  margin-top: 5px;
  background-color: var(--secondary-background);
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  color: var(--primary-color);
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.search-list-left {
  display:flex;
}

.search-list-left div {
  color: var(--primary-color);
  padding: 10px;
}

.search-list-right {
  color: var(--secondary-color);
  display:flex;
}

.search-list-right div {
  color: var(--primary-color);
  padding: 10px;
}

.search-list-emoji {
  font-size: 20px;
}

.search-search-bar {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--secondary-background);
  background-color: var(--primary-background);
  color: var(--primary-color);
  box-sizing: border-box;
  font-size: 15px;
}

.search-title {
  color: var(--primary-color);
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 30px;
}