.session .emoji {
  color: var(--primary-color);
  text-align: center;
  background-color: var(--secondary-background);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 300px;
}

.session .username {
  color: var(--primary-color);
  font-size: 30px;
  padding-top: 10px;

}

.session .date {
  color: var(--primary-color);
  padding-top: 10px;
}

.session .logout {
  background-color: var(--submit-button);
  color: white;
  padding: 14px 20px;
  font-size: 15px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}